.container-lg {
  background-color: white;
}

.pr {
  text-align: center;
}

.grid {
  display: grid;
  align-items: end;
  width: 100%;
}

.grid-container {
  background-color: #ffffff;
  padding: 3rem;
}

form input[type="submit"] {
  margin-top: 18px;
}

.money {
  font-size: 22px;
}
